body {
  background-color: #212529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel{
  margin: 50px 0px 50px 0px;
}

.card{
  background-color: rgb(231, 206, 169);
  margin: 0px 20px 50px 20px;
}

.form{
  margin: 0px 800px 50px 10px;
}

.form Label{
  color: rgb(231, 206, 169);
}


.buttons{
  text-align: center;
  padding: 0px 0px 10px 0px;
}